body {
    background-color: #240A34;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteiner1 {
    background-color: #891652;
}

.section1 {
    color: #891652;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    color: #FFEDD8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #EABE6C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    text-align: start;
    text-transform: uppercase;
}

h3 {
    color: #FFEDD8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: start;
}

.conteiner2 {
    background-color: #EABE6C;
}

h4 {
    color: #891652;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
}

img {
    background-image: url(img/Sobre\ mí.png);
    margin: auto;
    display: block;
    width: 200px;
    border: 5px solid #240A34;
    display: flex;
    align-items: center;
    justify-content: center;
}

p1 {
    color: #240A34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: start;
}

h5 {
    color: #EABE6C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}

.conteiner3 {
    background-color: #891652;
}

img {
    background-image: url(img/CAM.png);
    margin: auto;
    display: block;
    width: 200px;
    border: 5px solid #240A34;
    display: flex;
    align-items: center;
    justify-content: center;
}

p2 {
    color: #240A34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: start;
}

img {
    background-image: url(img/AVA.png);
    margin: auto;
    display: block;
    width: 200px;
    border: 5px solid #240A34;
    display: flex;
    align-items: center;
    justify-content: center;
}

p2 {
    color: #240A34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: start;
}

img {
    background-image: url(img/Orvik.png);
    margin: auto;
    display: block;
    width: 200px;
    border: 5px solid #240A34;
    display: flex;
    align-items: center;
    justify-content: center;
}

p2 {
    color: #240A34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: start;
}

img {
    background-image: url(img/JUST\ DO\ IT.png);
    margin: auto;
    display: block;
    width: 200px;
    border: 5px solid #240A34;
    display: flex;
    align-items: center;
    justify-content: center;
}

p2 {
    color: #240A34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: start;
}

img {
    background-image: url(img/Visiones\ Creativas\ y\ Talento\ en\ Acción.png);
    margin: auto;
    display: block;
    width: 200px;
    border: 5px solid #240A34;
    display: flex;
    align-items: center;
    justify-content: center;
}

p2 {
    color: #240A34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: start;
}

img {
    background-image: url(img/Arte\ Futurista.png);
    margin: auto;
    display: block;
    width: 200px;
    border: 5px solid #240A34;
    display: flex;
    align-items: center;
    justify-content: center;
}

p2 {
    color: #240A34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: start;
}

img {
    background-image: url(img/Cuadro\ 3D\ PopArt.png);
    margin: auto;
    display: block;
    width: 200px;
    border: 5px solid #240A34;
    display: flex;
    align-items: center;
    justify-content: center;
}

p2 {
    color: #240A34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: start;
}

img {
    background-image: url(img/Tabla\ Morfológica.png);
    margin: auto;
    display: block;
    width: 200px;
    border: 5px solid #240A34;
    display: flex;
    align-items: center;
    justify-content: center;
}

p2 {
    color: #240A34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: start;
}

h6 {
    color: #891652;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}

.conteiner4 {
    background-color: #240A34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h7 {
    color: #EABE6C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

pre {
    color: #FFEDD8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}